
:root {
    --cream: #FFF3E4;
    --salmon: #F96B7C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 4.2em;
    margin: 6vh 0;
}